
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #horaForm="ngForm">
      <div class="form-group row">
        <label for="codigo" class="col-form-label col-sm-2">Codigo tecnico</label>
        <div class="col-sm-6">
          <input type="text" class="form-control"  name="codigo" #codigo>

        </div>
      </div>

      <div class="form-group row">
        <label for="diaSemana" class="col-form-label col-sm-2">Dia de la semana</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="diaSemana"  #diaSemana>

        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='calcularHoras(codigo.value,diaSemana.value)'>Calcular</button>

        </div>
      </div>

    </form>

  </div>
  <ng-container *ngIf="notFound">
    Tecnico no encontrado
  </ng-container>
  <div class="container" *ngIf="hora">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Horas normales</th>
            <th>Horas nocturnas</th>
            <th>Horas dominicales</th>
            <th>Horas extra normales</th>
            <th>Horas extra nocturnas</th>
            <th>Horas extra dominicales</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{hora.horasNormales}}</td>
            <td>{{hora.horasNocturnas}}</td>
            <td>{{hora.horasDominicales}}</td>
            <td>{{hora.horasExtrasNormales}}</td>
            <td>{{hora.horasExtrasNocturnas}}</td>
            <td>{{hora.horasExtrasDominicales}}</td>
            <td>{{hora.horasTotales}}</td>
          </tr>

        </tbody>
      </table>

    </div>
</div>
