<div class="card border-primary mb-3">
  <div class="card-header">Reportes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Reportes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/reportes/form']">
        Crear Reporte
      </button>
    </div>

    <div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>codigo tecnico</th>
            <th>codigo servicio</th>
            <th>hora de inicio</th>
            <th>hora fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let item of reportes">
            <td>{{item.codigoTecnico}}</td>
            <td>{{item.codigoServicio}}</td>
            <td>{{item.horaInicio}}</td>
            <td>{{item.horaFinal}}</td>
          </tr>

        </tbody>
      </table>

    </div>



  </div>
</div>
